{% extends 'base.html' %}

{% block page_title %}{{ blog_title }}{% endblock %}

{% block page_content %}
{% if posts %}
{% for post in posts %}
<article class="post-entry">
  <div class="post-title">
    <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
    <p class="lead">{{ post.date|date:"d M Y" }}</p>
  </div>
  <div class="post-content">
    {{ post.content|safe }}
  </div>
  <div class="post-footer">
    <p class="lead">Posted by <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a>, posted in <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></p>
  </div>
</article>
{% endfor %}
<div class="load-post">
  <button type="button" class="btn btn-default">Load more post</button>
</div>
{% else %}
<article class="post-entry">
  <div class="post-title">
    <h1 class="text-danger">Ups, empty post :(</h1>
  </div>
</article>
{% endif %}
{% endblock %}
