{% extends 'base.html' %}

{% block page_title %}{{ post.title }}{% endblock %}

{% block page_content %}
<div class="page-header">
  <h2>{{ post.title }}</h2>
  <p class="lead text-muted">by <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a> posted on <a href="#">{{ post.date }}</a></p>
</div>
<div class="page-content">
  <div class="post-content">
    {{ post.content|safe }}
  </div>
  <p class="lead text-muted">posted in <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></p>
  <div class="post-comment">
    <div id="disqus_thread"></div>
    <script>
      var disqus_shortname = 'fitraditya';
      (function() {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
  </div>
</div>
{% endblock %}
